{% extends "recipes/base_home.html" %}

{% block content %}
    <h1>Recent Recipes</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for recipe in recipes %}
            <div class="col">
                <div class="card h-100">
                    {% if recipe.recipe_image %}
                        <img src="{{ recipe.recipe_image.url }}" class="card-img-top" alt="Recipe Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.category }}</h5>
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
                        <p class="card-text">{{ recipe.description|truncatewords:15  }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{ recipe.created_at|date:"F d, Y" }}</h6>
                        <a href="{% url 'recipes-detail' recipe.pk %}" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
